<table>
    <?php for($i = 0; $i < $taille; $i++) { ?>
    <tr>
        <?php for($j = 0; $j < $taille; $j++) { ?>
        <td>
            <?= ($plateau[$i][$j]) ? 'O' : ' ' ?>
        </td>
        <?php } ?>
    </tr>
    <?php } ?>
</table>
