/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 avr. 2018, 16:22:30
    Author     : florian
*/
form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 700px;
    /* Pour voir les limites du formulaire */
    padding: 10px;
    border: 1px solid #000;
    border-radius: 1em;
    font-size: medium;
    font-family: Arial;
}

/*table, table td {
    border: 1px solid black;
}*/

table, table tr {
    width: 100%;
}

table td {
    height: 60px;
    text-align: center;
    width: 10%;
}


